body

{
    background-image: url("backgroundimg.png");
}

.header /* header caracteristics */

{
    text-align: center;
    margin-left: -30rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

.header h2 /* h2 of the header caracteristics */

{
    letter-spacing: 0.3rem;
    font-size: 1.7rem;
}

.header p /* text of the header */

{   
    margin-left: -3rem;
    font-size: 1.2rem;
}

/* //////////////////////////////////////////////// END OF THE HEADER /////////////////////////// */

main h2 /* h2 of the main properties */

{
    margin-left: 15.5rem;
    margin-top: 3rem;
    font-size: 1.4rem;
    text-decoration: underline;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .softskills h4 /* h4 of softskills font properties */

{
    font-size: 1.2rem;
}

main .softskills /* softskills properties */

{
    margin-left: 15.5rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .softskillsp2 /* the UL of the softskills is splitted for a better placement */

{
    margin-left: 28rem;
    margin-top: -3.7rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .exp-pro h4 /* H4 of the professional experience properties */

{
    margin-left: 15.5rem;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .exp-pro ul /* properties of the exp pro UL */

{
    margin-left: 15.5rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .diplomes h4 /* H4 size of .diplomes */

{
    font-size: 1.2rem;
}

main .diplomes /* properties of diplomes */

{
    margin-left: 15.5rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

main .hobbies h4 /* Properties of the H4 inside hobbies */

{
    font-size: 1.2rem;
}

main .hobbies /* Properties of hobbies */

{
    margin-left: 15.5rem;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

/* /////////////////////////////////////////////////////////// END OF THE MAIN //////////////////////////// */

aside .left-border /* properties of the left side bar */

{
    margin-top: -40.1rem;
    padding-left: 1rem;
    color:white;
    text-shadow: 0.2rem 0.1rem black;
}

aside h3 /* h3 properties */

{
    font-size: 1.2rem;
}

.sidebar /* Proprties of the SIDEBAR */

{
    position: absolute;
    top: 0%;
    height: 140%;
    width: 15rem;
    background-color: black;
    opacity: 0.35;
}

aside .picture /* properties of the picture */

{
    height: 30rem;
    width: 40rem;
    position: absolute;
    top: 1rem;
    left: 64rem;
}

aside .techskills /* properties of techskill section */

{
    font-size: 1.3rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
    margin-left: 63rem;
    text-decoration: overline underline;
}

aside .niveauhtml, .niveaucss, .niveaujs, .niveauphp, .niveausql /* Properties of the STARS PICTURES */

{
    margin-top: 0.6rem
    height: 2rem;
    width: 8rem;
}

/*STAR PICTURES MARGINS /////////////////////////////////////////////////////////////////// */

aside .niveauhtml
{
    margin-left: 0.8rem;
}

aside .niveaucss

{
    margin-left: 2.2rem;
}

aside .niveauphp

{
    margin-left: 3.1rem;
}

aside .niveausql
{
    margin-left: 3.4rem;
}

/* END OF THE STAR PICTURES MARGIN //////////////////////////////////////////////////////////*/


footer h2 /* Properties of the footer title */

{
    font-size: 1.4rem;
}

footer /* Properties of the footer */

{
    margin-left: 15.5rem;
    margin-top: 13rem;
    color: white;
    text-shadow: 0.2rem 0.1rem black;
}

.githubslim /* Properties of the GITHUB link image */

{
    height: 60px;
    width: 60px;
}

.twitterslim /* Properties of the TWITTER link image */

{
    height: 60px;
    width: 80px;
}



